# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Log Files
*.log

# Database Backups
*_backup.db